/*# BARRA DE BÚSQUEDA */
.search-bar {
  display: flex;
  /* flex-direction: column; */ /*! ELIMINAR?? */
  /* align-items: center; */ /*! ELIMINAR?? */
  justify-content: center;
}

.buscador {
  display: flex;
  align-items: center;
  border: 5px solid #103e5b;
  border-radius: 12px;
  padding: 12px;
  height: 75px;
  width: 50%;
  max-width: 800px;
  background-color: #fff;
}

/* icono lupa e icono "X" */
.buscador i {
  color: #103e5b;
  margin: 0 10px;
  font-size: 35px;
  cursor: pointer;
}

.buscador input {
  border: none;
  outline: none;
  font-size: 28px;
  color: #ff8000;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

input::placeholder {
  color: #ccc;
}
input:focus::placeholder {
  color: transparent;
}

footer
/* flecha hacia abajo */
.arrow a {
  font-size: 70px;
  color: #ff8000;
  display: flex;
  justify-content: center;
}