  /* CONTENEDOR DE CATEGORÍAS  */
  .categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 13px;
    width: 60%;
    height: 70vh;
    margin: auto;
  }

  .categorie {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: #fff;
  }

  .plastic {
    background-color: #e8e8e8;
    color: #1a6d91 ;
    grid-area: 1 / 1 / 2 / 5;
  }

  .bazaar {
    background-color: #5a7684;
    grid-area: 1 / 5 / 3 / 7;
  }

  .home {
    background-color: #5a7684;
    grid-area: 2 / 1 / 4 / 3;
  }

  .toys {
    background-color: #c0c0c0 ;
    color: #333 ;
    grid-area: 2 / 3 / 3 / 5;
  }

  .electronics {
    background-color: #e8e8e8;
    color: #1a6d91 ;
    grid-area: 3 / 3 / 4 / 7;
  }

